In [7]:
import pandas as pd

In [8]:
df_train = pd.read_csv('data/RandomComp/train.csv')
df_test = pd.read_csv('data/RandomComp/test.csv')

In [3]:
# df_train = pd.read_csv('data/LimitedComp/train_limit_news.csv')
# df_test = pd.read_csv('data/LimitedComp/test_limit_news.csv')

In [9]:
df_train.head()

  stock        date                                              title  label
0   GME  2017-03-01  Xbox's Monthly Subscription Service Could Be B...      1
1   STL  2017-08-31  Sterling Bancorp, Astoria Financial Report Fed...      1
2  ALXN  2016-11-17  Alexion Releases Data On Soliris Showing It Re...      1
3  CPST  2016-10-18  Capstone Turbine Corporation Announces Pricing...      0
4   VSH  2016-02-09  Vishay Intertechnology Reports Q4 Adj. EPS $0....      2

In [10]:
X_train, y_train = df_train['title'].to_numpy(), df_train['label'].to_numpy()
X_test, y_test = df_test['title'].to_numpy(), df_test['label'].to_numpy()

In [11]:
f = open('stock.txt', 'w')
f_c = open('stock_corpus.txt', 'w')

i = 0
for x, y in zip(X_train, y_train):
    f_c.write(x+'\n')
    f.write(str(i) + '\t' + 'train' + '\t' + str(y) + '\n')
    i += 1
    
for x, y in zip(X_test, y_test):
    f_c.write(x+'\n')
    f.write(str(i) + '\t' + 'test' + '\t' + str(y) + '\n')
    i += 1