In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = 'R8'

In [3]:
f = open('general_data/' + dataset + '.txt', 'r')
f_corpus = open('general_data/' + dataset + '_corpus.txt', 'r')

In [4]:
labels = f.readlines()
corpus = f_corpus.readlines()

In [5]:
labels = np.array(labels)
print(labels.shape)

(7674,)

In [6]:
data = []

for l, r in zip(labels, corpus):
    l = l.split('\t')
    data.append([l[1], l[2][:-1], r[:-1]])

In [7]:
df = pd.DataFrame(data)

In [8]:
df.head()

       0     1                                                  2
0  train  earn  champion products ch approves stock split cham...
1  train   acq  computer terminal systems cpml completes sale ...
2  train  earn  cobanco inc cbco year net shr cts vs dlrs net ...
3  train  earn  am international inc am nd qtr jan oper shr lo...
4  train  earn  brown forman inc bfd th qtr net shr one dlr vs...

In [9]:
df.to_csv('general_data/' + dataset + '.csv', header=['group', 'label', 'doc'])