# TF-IDF for 10K

In [1]:
import numpy as np
import pandas as pd

## Load the data

In [2]:
ten_ks_df = pd.read_csv('10k_out_200company.csv')

ten_ks_df.head()

,date,company,ticker,doc
0,2020-02-27,ACC,1283630,10 k 1 acc2019123110knew htm 10 k document p2y...
1,2019-02-28,ACC,1283630,10 k 1 acc2018123110k htm 10 k document unite ...
2,2018-03-01,ACC,1283630,10 k 1 acc2017123110k htm 10 k document unite ...
3,2017-03-01,ACC,1283630,10 k 1 acc2016123110k htm 10 k document unite ...
4,2016-02-29,ACC,1283630,10 k 1 acc2015123110k htm 10 k 10 k unite stat...

# Load the vocabulary

In [31]:
voc_df = pd.read_csv('vocabulary.csv', header = None)

In [32]:
voc_df.head()

     0           1
0  125        able
1  336   abundance
2  338    abundant
3  438     acclaim
4  477  accomplish

In [42]:
voc_list = voc_df[1].values
voc_list = list(set(voc_list))

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

vec = TfidfVectorizer(vocabulary=voc_list)

In [44]:
vec.fit(ten_ks_df['doc'].values)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=['random', 'favorably', 'frivolously', 'cut', 'disallow', 'defraud', 'disappearances', 'illiquidity', 'incidence', 'noncompliance', 'foreclose', 'brilliant', 'flaw', 'disqualification', 'incapable', 'unknowing', 'unprofitability', 'malfeasance', 'enjoyably', 'breakthroughs', 'erratic', 'o...'adulterate', 'circumventions', 'malpractice', 'pretrial', 'satisfactory', 'deception', 'shortages'])

In [ ]:
ten_ks_df['tf-idf'] = ten_ks_df['doc'].apply(lambda x:vec.transform([x]).toarray())

In [ ]:
ten_ks_df.head()

In [ ]:
#print(vec.transform([ten_ks_df.iloc[0]['doc']]).toarray())